* {
  margin: 0;
  font-family: "Bellota", system-ui;
  padding: 0;
}
.App {
  height: 98vh;
  padding: 20px;
  background: linear-gradient(to right, #00b4db, #0083b0);
}
.Weather-Container {
  width: 100%;
}
